<mat-form-field>
    <mat-select [(value)]="selected">
        <mat-option value="default">Select field for search</mat-option>
        <mat-option value="no">Number</mat-option>
        <mat-option value="author">Author</mat-option>
        <mat-option value="date">Date</mat-option>
        <mat-option value="title">Title</mat-option>
    </mat-select>
</mat-form-field>
<mat-input-container *ngIf="selected!='date'">
    <input matInput placeholder="{{ 'field name' | translate }}!" [(ngModel)]="field" [formControl]="heroFormControl">
</mat-input-container>
<mat-form-field *ngIf="selected=='date'">
    <input matInput [matDatepicker]="picker" [(ngModel)]="field" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-raised-button (click)="searchNews(selected,field)">Search</button>

<!-- <mat-autocomplete #heroesAutocomplete="matAutocomplete">
    <mat-option *ngFor="let hero of filteredHeroes"
                (onSelectionChange)="searchHero(hero)"
                [value]="hero.name">
        {{hero.name}}
    </mat-option>
</mat-autocomplete> -->